[Unit]
Description=Agent for pipolog
Documentation=https://github.com/rebootl/pipolog-agent

After=network.target
Requires=network.target

[Service]
User=user
WorkingDirectory=/home/user/pipolog-agent
ExecStart=/home/user/pipolog-agent/myvenv/bin/python /home/user/pipolog-agent/agent.py

# Restart w/ timeout
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
